/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1rem; }

/*---------------- HEADER -------------*/
.scrollUp {
  top: -400px; }

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 2% 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  transition: .5s; }
  header #menu-icon {
    position: absolute;
    right: 2%;
    top: .5rem; }
  header #menu-icon:hover {
    cursor: pointer; }
  header #menu-icon div {
    width: 1.2rem;
    height: .1rem;
    margin: .2rem 0;
    background-color: #f04178; }

#my-logo {
  margin-left: 2%; }

#my-logo img {
  width: 4rem; }

.nav-list {
  display: none;
  opacity: 0;
  width: 100%;
  top: 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: .3s; }

.show {
  display: block;
  opacity: 1; }

.nav-list ul {
  text-align: center; }

.nav-list ul a {
  text-decoration: none;
  color: #f04178;
  width: 100%; }

.nav-list ul a li {
  padding: 2%;
  transition: .3s; }

.nav-list ul li:hover {
  background-color: #fbcfdd;
  color: white; }

/*-------------- MAIN --------------*/
main {
  margin-top: 3.1rem; }

/*------------- HOME --------------*/
#home {
  position: relative;
  text-align: center; }
  #home .banner img {
    width: 100%; }

/*------------- ABOUT ME ---------------*/
#about-me {
  text-align: center; }
  #about-me h1 {
    margin: 1rem auto;
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178, #f7729e, white) 1;
    width: 80%; }
  #about-me .photo img {
    box-shadow: 5px 5px 5px gray;
    width: 50%; }
  #about-me .photo a {
    display: block;
    text-align: center;
    margin: .5rem auto;
    padding: .5rem 1rem;
    color: #f04178;
    font-size: 1rem;
    background-color: #fbcfdd;
    box-shadow: 2px 2px 2px gray;
    width: 50%;
    text-decoration: none; }
  #about-me .photo a i {
    margin-left: 1rem; }
  #about-me .intro {
    width: 80%;
    margin: 1rem auto; }
  #about-me .intro h3 {
    margin: .5rem auto;
    font-weight: 300;
    font-size: 1.2rem; }
  #about-me .intro h4, #about-me .intro h5 {
    margin: .2rem auto;
    font-weight: 300;
    line-height: 1.2rem;
    font-size: .9rem; }
  #about-me .intro p {
    margin: .8rem 0;
    padding: 2% 0;
    line-height: 1.5rem; }

/*---------------- PROJECTS ---------------------*/
#projects {
  text-align: center;
  margin: 1rem auto; }
  #projects h1 {
    margin: 1.5rem auto;
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178, #f7729e, white) 1;
    width: 80%; }
  #projects h3 {
    font-size: 1rem; }

.project {
  margin: 2rem auto; }

.projects img {
  width: 100%;
  margin: .5rem auto; }

.projects img:hover {
  cursor: pointer; }

.project-detail-box {
  display: none;
  /*hidden by default*/
  position: fixed;
  /*stay in place*/
  z-index: 25;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8); }

.project-detail-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #f04178;
  width: 90%;
  position: relative; }

.project-detail-content h2 {
  clear: both;
  margin: .5rem auto;
  padding: .5rem 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  width: 90%;
  border-image: radial-gradient(#f04178, #f7729e, white) 1;
  font-size: 1rem; }

.project-detail-content img {
  width: 80%;
  margin: .5rem auto; }

.project-detail-content ul li {
  list-style: none; }

.close-btn {
  color: #f04178;
  position: absolute;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 28px; }

.close-btn:hover, .close-btn:focus {
  cursor: pointer; }

.visitBtn i {
  font-size: 1rem;
  color: #f04178; }

/*------------- SKILLS -----------*/
#skills {
  clear: both;
  text-align: center; }
  #skills h1 {
    margin: 1.5rem auto;
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178, #f7729e, white) 1;
    width: 80%;
    line-height: 1.8rem; }

.soft-skills {
  margin: .5rem auto;
  width: 90%; }

.soft-skills div {
  margin: 1rem auto;
  font-size: .8rem; }

.soft-skills div h3 {
  font-size: 20px;
  margin: .5rem auto; }

.tech-skills div {
  margin: 2rem auto;
  padding: 1rem; }

.tech-skills div i {
  font-size: 3.5rem;
  color: #302f2f; }

#b-icon {
  padding: 2px 15.5px;
  font-size: 1.8rem;
  background-color: #302f2f;
  color: white;
  border-radius: 5px;
  transition: 0.2s; }

#sassy-icon {
  font-size: 3rem;
  position: relative;
  top: -1rem; }

#jq-icon {
  font-size: 1.5rem;
  padding: 2px 15px;
  background-color: #302f2f;
  color: white;
  border-radius: 5px;
  transition: 0.2s; }

#ps-icon {
  padding: 6px 11px;
  font-size: 1.5rem;
  background-color: #302f2f;
  color: white;
  border-radius: 5px;
  transition: 0.2s; }

.icon-meaning {
  display: block;
  opacity: 0;
  text-transform: uppercase;
  position: relative;
  top: -100px;
  transition: 0.5s linear;
  font-size: 1rem; }

.icon-meaning:first-child {
  color: red; }

.tech-skills div:hover #scss-icon, .tech-skills div:hover #ps-icon, .tech-skills div:hover #b-icon, .tech-skills div:hover #jq-icon {
  background-color: #f8acc6;
  cursor: pointer; }

.tech-skills div:hover i {
  color: #f8acc6;
  cursor: pointer; }

.tech-skills div:hover .icon-meaning {
  top: 1rem;
  opacity: 1; }

/*---------------- EDUCATION ---------------*/
#edu {
  text-align: center; }
  #edu h1 {
    margin: 1.5rem auto;
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178, #f7729e, white) 1;
    width: 80%;
    line-height: 1.8rem; }

.education {
  margin: 1rem auto; }
  .education .time-line h3 {
    font-weight: 300;
    font-size: 1.1rem;
    padding: 2%; }
  .education .time-line h4 {
    font-weight: 300;
    font-size: .9rem; }
  .education .edu-detail {
    border-left: 2px dashed #0c1825;
    background-color: #eff6fd;
    box-shadow: 2px 3px 8px #888888;
    font-size: .8rem;
    padding: 0.5rem 2%;
    padding-bottom: .5rem;
    text-align: left;
    width: 90%;
    margin: .8rem auto; }
  .education .edu-detail h4 {
    margin: .5rem 2%;
    font-size: .9rem;
    font-weight: 300; }

/*------------- WORK EXPERIENCES ------------*/
#works {
  width: 90%; }
  #works h1 {
    margin: 1.5rem auto;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(#f04178, #f7729e, white) 1;
    width: 80%;
    line-height: 1.8rem; }
  #works .timeline {
    line-height: 1.5;
    list-style: none;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 4em auto;
    position: relative;
    max-width: 40em;
    box-sizing: border-box; }
  #works .timeline::before {
    background-color: #f04178;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%; }
  #works .timeline-event {
    position: relative; }
  #works .timeline-event-detail {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 90%;
    font-size: .8rem; }
  #works .timeline-event-detail h3 {
    font-size: 1rem; }
  #works .timeline-event-detail h4 {
    font-size: 1rem;
    margin: .3rem 0 .8rem 0; }
  #works .timeline-event-detail p:not(.timeline-event-date) {
    padding-bottom: 1.2em; }
  #works .timeline-event-icon {
    transition: .3s ease-in;
    background-color: #f04178;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
    transform: rotate(45deg); }
  #works .timeline-event-text {
    display: none; }

.timeline-event-date {
  transition: 1s ease-in;
  font-size: 1rem;
  background-color: #fcd3e0;
  box-shadow: inset 0 0 0 0em #333333;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em; }

.moreBtn {
  position: relative;
  top: -8px; }

.moreBtn i {
  font-size: 1.5rem;
  transition: .2s; }

.moreBtn:hover i {
  cursor: pointer; }

.clickedBtn {
  transform: rotate(180deg);
  color: #f04178; }

/*---------------------- CONTACT ----------------------*/
#contact h1 {
  margin: 1.5rem auto;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-image: radial-gradient(#f04178, #f7729e, white) 1;
  width: 80%;
  line-height: 1.8rem; }

.contact-info {
  text-align: center; }
  .contact-info h2 {
    font-size: 1rem; }
  .contact-info p {
    font-size: .8rem;
    margin: .5rem auto; }
  .contact-info .ex-links i {
    font-size: 2rem;
    margin: 0 .5rem;
    color: #9a9a9a;
    transition: .3s; }
  .contact-info .ex-links i:hover {
    color: #f04178; }

.contact-form {
  text-align: center; }
  .contact-form h2 {
    font-size: .9rem;
    padding-top: .8rem;
    border-top: 2px solid lightgray;
    width: 80%;
    margin: 1.5rem auto 1rem auto; }
  .contact-form input, .contact-form textarea {
    display: block;
    margin: .5rem auto;
    width: 70%;
    padding: .2rem; }
  .contact-form #contactSubmitBtn {
    width: 50%;
    letter-spacing: .2rem; }

footer {
  font-size: .6rem;
  margin: 1.5rem 0 .1rem 0;
  position: relative;
  border-top: .5px solid lightgray;
  color: lightgrey; }
  footer span:first-child {
    margin-left: 2%; }
  footer span:nth-child(2) {
    position: absolute;
    right: 2%; }

@media only screen and (min-width: 640px) {
  /*---------- HEADER GOES HERE -------------*/
  #menu-icon {
    display: none;
    opacity: 0; }

  #my-logo {
    text-align: center; }

  #my-logo img {
    width: 5rem; }

  .nav-list {
    display: block;
    opacity: 1; }

  .nav-list ul {
    margin: .2rem auto; }

  .nav-list ul li {
    display: inline-block;
    padding: 0 1rem;
    font-size: 18px;
    margin: .2rem; }

  /*-------------- MAIN --------------*/
  main {
    margin-top: 8rem; }

  /*-------------- HOME --------------------*/
  /*------------- ABOUT ME ---------------*/
  #about-me .wrapper {
    display: grid;
    grid-template-columns: 40% 60%; }
  #about-me .photo {
    text-align: center;
    margin: 0 auto; }
  #about-me .photo img {
    width: 80%;
    margin: 5rem auto .5rem auto; }
  #about-me .photo a {
    width: 80%; }
  #about-me .intro {
    width: 95%;
    margin: 0 auto; }

  /*---------------------- PROJECTS ------------------*/
  .projects img {
    width: 80%; }

  .projects-img {
    margin-bottom: 1rem; }

  .project-detail-content {
    width: 70%;
    margin: 5% auto; }

  /*-------------------- SOFT SKILLS------------------*/
  #skills {
    margin-top: 2rem;
    clear: both; }

  .soft-skills {
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%; }

  .soft-skills div {
    width: 90%; }

  /*-------------------- TECH SKILLS---------------------*/
  .tech-skills {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%; }

  .icon-meaning {
    text-align: center; }

  .tech-skills div:nth-child(5):hover .icon-meaning {
    top: -.5rem;
    opacity: 1; }

  /*------------- CONTACT ME ------------*/
  #contact .wrapper {
    display: grid;
    grid-template-columns: 50% 50%; }

  .contact-info {
    align-self: center; }

  .contact-form {
    border-left: 2px solid lightgray; }
    .contact-form h2 {
      border-top: 2px solid transparent; } }
/*end media query*/
@media only screen and (min-width: 768px) {
  /*---------- HEADER GOES HERE -------------*/
  /*-------------- MAIN --------------*/
  main {
    margin-top: 8.4rem; }

  /*-------------- HOME --------------------*/
  #home #greeting {
    font-size: 2rem;
    left: 32%; }

  /*------------- ABOUT ME ---------------*/
  #about-me .wrapper {
    display: grid;
    grid-template-columns: 30% 70%; }
  #about-me .intro {
    width: 80%;
    font-size: 16px; }

  /*---------------- PROJECT ----------------*/
  .projects {
    width: 50%;
    float: left; }

  .project-detail-content {
    width: 60%; }
    .project-detail-content img {
      width: 50%; }
    .project-detail-content div {
      width: 80%;
      margin: .5rem auto; }
    .project-detail-content ul li {
      list-style: none;
      display: inline-block;
      margin: 1rem; }

  /*------------- SKILLS -----------*/
  #skills {
    clear: both; }

  /*-------------- EDUCATION ------------------*/
  #edu .wrapper {
    display: grid;
    grid-template-columns: 50% 50%; }

  /*--------------- WORK ------------------------*/
  #works .timeline {
    left: 10%; }

  /*------------------- CONTACT ----------------*/
  .contact-info h2 {
    font-size: 1.5rem; }
  .contact-info p {
    margin: 2rem auto;
    font-size: 1rem; }
  .contact-info .ex-links i {
    font-size: 2.5rem; } }
/*end media query*/
