/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%};

/*apply a natural box layout model to all elements*/
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px;font-family: $defaultFont;line-height: 1rem;}


/*---------------- HEADER -------------*/
.scrollUp{
    top: -400px;
}
header{
    position: fixed;
    top:0;
    right: 0;
    z-index: 5;
    padding:$gutter 0;
    background-color: rgba($color: #fff, $alpha: .8);
    width:100%;
    transition: .5s;
    #menu-icon{
        position: absolute;
        right:$gutter;
        top:.5rem;
        
    }
    #menu-icon:hover{
        cursor: pointer;
    }
    #menu-icon div{
        width: 1.2rem;
        height: .1rem;
        margin: .2rem 0;
        background-color: #f04178;
    }
    
}
#my-logo{
    margin-left: $gutter;
}
#my-logo img{
    width:4rem;
}
.nav-list{
    display: none;
    opacity: 0;
    width:100%;
    top:2.5rem;
    background-color: rgba($color: #fff, $alpha: .7);
    transition: .3s;
}
.show{
    display:block;
    opacity: 1;
}
.nav-list ul{
    text-align: center;
    
}
.nav-list ul a{
    text-decoration: none;
    color: #f04178;
    width:100%;
}
.nav-list ul a li{
    padding: 2%;
    transition: .3s;
}
.nav-list ul li:hover{
    background-color: lighten($primaryColor,30%);
    color:white;
}
/*-------------- MAIN --------------*/
main{
    margin-top: 3.1rem;
}
/*------------- HOME --------------*/
#home{
    position: relative;
    text-align: center;
    
    .banner img{
        width:100%;
    }
}

/*------------- ABOUT ME ---------------*/
#about-me{
    text-align: center;
    h1{
        margin: 1rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%;  
        
    }
    .photo img{
        box-shadow: 5px 5px 5px gray;
        width:50%;
    }
    //CV links
    .photo a{
        display: block;
        text-align: center;
        margin: .5rem auto;
        padding: .5rem 1rem;
        color:$primaryColor;
        font-size: 1rem;
        background-color: lighten($primaryColor,30%);
        box-shadow: 2px 2px 2px gray;
        width: 50%;
        text-decoration: none;
    }
    .photo a i{
        
        margin-left: 1rem;
    }
    .intro{
        width: 80%;
        margin: 1rem auto;
    }
    .intro h3{
        margin: .5rem auto;
        font-weight: $normalWeight;
        font-size: 1.2rem;
    }
    .intro h4, .intro h5 {
        margin: .2rem auto;
        font-weight: $normalWeight;
        line-height: 1.2rem;
        font-size: .9rem;
    }
    .intro p{
        margin: .8rem 0;
        padding: $gutter 0;
        line-height: 1.5rem;
        
    }
}

/*---------------- PROJECTS ---------------------*/
#projects {
    text-align: center;
    margin: 1rem auto;
    h1{
        margin: 1.5rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%; 
    }
    h3{
        font-size: 1rem;
    } 
}
.project {
    margin:2rem auto;
}
.projects img{
    width:100%;
    margin:.5rem auto;
    
}
.projects img:hover{
    cursor: pointer;
}
.project-detail-box{
    display: none; /*hidden by default*/
    position: fixed; /*stay in place*/
    z-index: 10;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color: #fff, $alpha: .8);
}
.project-detail-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #f04178;
    width: 90%;
    position: relative;
}
.project-detail-content h2{
    clear: both;
    margin: .5rem auto;
    padding: .5rem 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 90%;
    border-image: radial-gradient(#f04178,#f7729e,white) 1;
    font-size: 1rem;
}
.project-detail-content img{    
    width: 80%;
    margin:.5rem auto;
}
.project-detail-content ul li{
    list-style: none;
}
.close-btn{
    color: #f04178;
    position: absolute;
    top:2px;
    right:5px;
    font-weight: bold;
    font-size: 28px;
}
.close-btn:hover, .close-btn:focus{
    cursor: pointer;
}
.visitBtn i{
    font-size: 1rem;
    color:$primaryColor;
}
/*------------- SKILLS -----------*/
#skills{
   clear: both;
    text-align: center;
    
    h1{
        margin: 1.5rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%; 
        line-height: 1.8rem;
    }
}
.soft-skills{
    margin: .5rem auto;
    width:90%;
}
.soft-skills div{
    margin:1rem auto;
    font-size:.8rem;
}
.soft-skills div h3{
    font-size: 20px;
    margin: .5rem auto;
    // color: $primaryColor;
}
.tech-skills div{
    margin:2rem auto;
    padding: 1rem;
   
}
.tech-skills div i{
    font-size: 3.5rem;
    color: rgb(48, 47, 47);
}
#b-icon{    
    padding: 2px 15.5px;     
    font-size: 1.8rem;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s 
}
#sassy-icon{
    font-size: 3rem;
    position: relative;
    top:-1rem;
}
#jq-icon{
    font-size: 1.5rem;
    padding:2px 15px;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s 
}
#ps-icon{
    padding: 6px 11px;  
    font-size: 1.5rem;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 5px;
    transition: .2s 
}
.icon-meaning{
    display: block;
    opacity: 0;
    text-transform: uppercase;    
    position: relative;
    top: -100px;
    transition: 0.5s linear;
    font-size: 1rem;
}
.icon-meaning:first-child{
    color:red;
}
.tech-skills div:hover #scss-icon, .tech-skills div:hover #ps-icon,.tech-skills div:hover #b-icon, .tech-skills div:hover #jq-icon{
    background-color: rgb(248, 172, 198);
    cursor: pointer;
}
.tech-skills div:hover i{
    color: rgb(248, 172, 198);
    cursor: pointer;
}
.tech-skills div:hover .icon-meaning{
    top:1rem;
    opacity:1;
}

/*---------------- EDUCATION ---------------*/
#edu {
    text-align: center;
    h1{
        margin: 1.5rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%; 
        line-height: 1.8rem;
    }
}
.education{
    margin: 1rem auto;
    .time-line h3{
        font-weight: $normalWeight;
        font-size: 1.1rem;
        padding: 2%;
    }
    .time-line h4{
        font-weight: $normalWeight;
        font-size: .9rem;
    }
    .edu-detail{
        border-left: 2px dashed #0c1825;
        background-color:#eff6fd;
        box-shadow: 2px 3px 8px #888888;
        font-size:.8rem;
        padding:.5rem 2% ;
        padding-bottom: .5rem;
        text-align: left;
        width:90%;
        margin: .8rem auto;
        // background: lighten($color:#f7729e , $amount: 25%);
    }
    .edu-detail h4{
        margin: .5rem 2%;
        font-size: .9rem;
        font-weight: $normalWeight;
    }
}

/*------------- WORK EXPERIENCES ------------*/
#works{
    width:90%;
    h1{
        margin: 1.5rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        text-align: center;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%; 
        line-height: 1.8rem;
    }
    .timeline{
        line-height: 1.5;
        list-style:none;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin: 4em auto;
        position: relative;
        max-width: 40em;
        box-sizing:border-box;
      }
    .timeline::before {
        background-color: $primaryColor;
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 2em;
        width: 2px;
        height: 100%;
    }
    .timeline-event{
        position: relative;
    }
    .timeline-event-detail {
        padding: 2em;
        position: relative;
        top: -1.875em;
        left: 4em;
        width: 90%;
        font-size: .8rem;
    }
    .timeline-event-detail  h3 {
        font-size: 1rem;
    }
        
    .timeline-event-detail  h4 {
        font-size: 1rem;
        margin:.3rem 0 .8rem 0;
    }

    .timeline-event-detail p:not(.timeline-event-date) {
        padding-bottom: 1.2em;
    }
    .timeline-event-icon {
        transition:  .3s ease-in;  
        background-color: $primaryColor;
        outline: 10px solid white;
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        left: 2em;
        width: 1em;
        height: 1em;
        transform: rotate(45deg)
    }
   
    .timeline-event-text{
        display:none;
    }    
}
.timeline-event-date {
    transition: 1s ease-in;
    
    font-size: 1rem;  
    background-color: lighten($color: #f7729e, $amount: 20%);
    box-shadow: inset 0 0 0 0em #333333;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}
.moreBtn{
    position: relative;
    top: -8px;
}
.moreBtn i{
    font-size: 1.5rem;
    transition:.2s;
}
.moreBtn:hover i{
    cursor:pointer;
}
.clickedBtn{
    transform: rotate(180deg);
    color:#f04178;
}
/*---------------------- CONTACT ----------------------*/
#contact{
    h1{
        margin: 1.5rem auto;
        font-size: 1.4rem;
        padding: 1rem 0;
        text-align: center;
        font-weight: $boldWeight;
        letter-spacing: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(#f04178,#f7729e,white) 1;
        width:80%; 
        line-height: 1.8rem;
    }
}
.contact-info{
    text-align: center;
    
    h2{
        font-size: 1rem;        
    }
    p{
        font-size: .8rem;
        margin:.5rem auto;
    }
    .ex-links i{
        font-size: 2rem;
        margin:0 .5rem;
        color:lighten($color: gray, $amount: 10%);
        transition: .3s;
    }
    .ex-links i:hover{
        color: $primaryColor;
    }
}
.contact-form{
    text-align: center;
    h2{
        font-size: .9rem;
        padding-top: .8rem;
        border-top: 2px solid lightgray;
        width:80%;
        margin:1.5rem auto 1rem auto;
    }
    input, textarea{
        display: block;
        margin: .5rem auto;
        width: 70%;
        padding:.2rem;
    }
    #contactSubmitBtn{
        width:50%;
        letter-spacing: .2rem;
    }
}

footer{
    font-size: .6rem;
    margin: 1.5rem 0 .1rem 0;
    position: relative;
    border-top: .5px solid lightgray;
    color: lightgrey;
    span:first-child{
        margin-left: 2%;
    }
    span:nth-child(2){
        position: absolute;
        right: 2%;
    }
}